:root {
  --primary-color: #f06806;
  --secondary-color: #f99c3e;
  --background-color-body: #fbf8f4;
  --background-color: #f9eadb;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
body {
  margin: 150px 0 5px 0;
  background-color: var(--background-color-body);
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h6 {
  color: black;
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 25px;
  opacity: 0.8;
}
h1,
h3 {
  text-align: center;
  margin: 0;
}
h4 {
  font-size: 30px;
  font-weight: 700;
  word-spacing: 5px;
}
h5 {
  font-size: 17px;
  color: #212529;
  text-transform: uppercase;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.bg-body-tertiary {
  background-color: var(--background-color) !important;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.navbar-nav .active {
  color: var(--primary-color) !important;
}
.nav-link {
  font-weight: 400;
  color: #000 !important;
}
.background-image {
  background-image: url(images/background-image.jpg);
  background-size: cover;
  background-position: center center;
  background-color: var(--background-color-body);
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -40px;
}
.hero {
  padding-top: 150px;
  margin: 0 250px 0 0;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
.contact-link:hover {
  color: #212529;
}
.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 400;
}
.secondary-link:hover {
  background-color: var(--primary-color);
  color: #ffff;
}
.project-desciption {
  padding: 30px 60px;
}
.email-link {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
  text-decoration: none;
}
.email-link:hover {
  color: var(--primary-color);
}
footer .contact-box {
  background-color: var(--background-color);
  padding: 40px 120px;
  border-radius: 10px;
  margin: 15px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}
.primary-link {
  padding: 20px;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}
.primary-link:hover {
  color: #212529;
}
.content-container {
  padding: 50px 20px;
  padding-top: 0;
}
.content h1 {
  display: inline;
  font-size: 64px;
}
.content-work h1 {
  font-size: 60px;
}
.content h2 {
  font-size: 19px;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 18px;
}
.content {
  margin: 30px;
}
.my-image {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.certifications {
  box-shadow: var(--box-shadow);
  margin-bottom: 15px;
}
.rotating {
  animation: spinning 20s linear infinite;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  body {
    margin-top: 120px;
  }
  .background-image {
    height: 250px;
  }
  .hero {
    padding-top: 50px;
    margin: 0 80px 0 0;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero h3 {
    font-size: 20px;
    margin-right: 50px;
  }
  .flag {
    width: 30px;
  }
  .primary-link {
    text-align: center;
    display: block;
    margin: 0 20px;
    font-size: 17px;
  }
  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content,
  .content-container {
    text-align: center;
    padding: 0;
    margin-top: -15px;
  }
  .content h1 {
    font-size: 35px;
  }
  .content-work h1 {
    font-size: 30px;
  }
  .my-image {
    width: 85%;
  }
  .certifications {
    width: 90%;
  }
  .fs-6 {
    font-size: 12px !important;
  }
  .contact-page {
    padding: 20px !important;
    justify-content: space-evenly !important;
  }
  .contact-page .contact-link {
    display: flex !important;
    justify-content: center;
    padding: 10px;
    margin: 20px 60px !important;
  }
  .contact-page-info {
    margin-bottom: 210px;
  }
}

@media (min-width: 100px) and (max-width: 355px) {
  body {
    margin-top: 100px;
  }
  .navbar-nav,
  .navbar-brand {
    font-size: small;
  }
  .nav .navbar {
    padding: 0 !important;
  }
  .bg-body-tertiary {
    padding: 0px;
  }
  .background-image {
    height: 200px;
    background-size: cover;
  }
  .hero {
    padding-top: 50px;
    margin: 0 80px 0 0;
  }
  .hero h1 {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 15px;
    margin-right: 20px;
  }
  .flag {
    width: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .email-link {
    font-size: 17px;
  }
  .skill-set {
    font-size: 12px;
  }
  .primary-link {
    padding: 15px;
    font-size: smaller;
    margin: 0;
  }
  .contact-page .contact-link {
    margin: 15px 20px !important;
  }
  footer h5 {
    margin: 15px;
  }
}
